@font-face {
	font-family: 'BR Candor';
	src: url('../fonts/BRCandor-Bold.woff2') format('woff2'),
		url('../fonts/BRCandor-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'BR Candor';
	src: url('../fonts/BRCandor-Regular.woff2') format('woff2'),
		url('../fonts/BRCandor-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'BR Candor';
	src: url('../fonts/BRCandor-Black.woff2') format('woff2'),
		url('../fonts/BRCandor-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'BR Candor';
	src: url('../fonts/BRCandor-SemiBold.woff2') format('woff2'),
		url('../fonts/BRCandor-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

.font-weight-black {
	font-weight: 900;
}

.font-weight-semibold {
	font-weight: 600;
}

.icon-arrow-down {
	width: 42px;
	height: 42px;
	display: block;
	background: url('../img/arrow-down.svg') no-repeat center center;
}

.icon-buyon {
	width: 24px;
	height: 22px;
	display: block;
	background: url('../img/icon-buyon.svg') no-repeat center center;
}

.icon-medal {
	width: 21px;
	height: 24px;
	display: block;
	background: url('../img/icon-medal.svg') no-repeat center center;
}

.icon-check {
	width: 24px;
	height: 24px;
	display: block;
	background: url('../img/icon-check.svg') no-repeat center center;
}

.icon-plan {
	width: 24px;
	height: 22px;
	display: block;
	background: url('../img/plan.svg') no-repeat center center;
}

.icon-wpp {
	min-width: 20px;
	min-height: 22px;
	display: block;
	background: url('../img/wpp.svg') no-repeat center center;
}

.icon-mail {
	min-width: 20px;
	min-height: 20px;
	display: block;
	background: url('../img/mail.svg') no-repeat center center;
}

.icon-adress {
	min-width: 19px;
	min-height: 22px;
	display: block;
	background: url('../img/adress.svg') no-repeat center center;
}
