.main-menu-ul {
	list-style: none;
}

// Polylang dropdawn
.pll-parent-menu-item {
	position: relative;

	>a {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 61px;
		height: 40px;
		border-radius: 5px;
		background-color: $light;

		// Globe
		&:before {
			content: "";
			width: 35px;
			height: 16px;
			display: block;
			background-image: url('../img/globe.svg');
		}

		// Active lang
		img {
			display: none;
		}
	}

	&:hover .sub-menu {
		opacity: 1;
		visibility: visible;
	}

	.sub-menu {
		opacity: 0;
		width: 100%;
		padding-left: 0;
		margin-top: -4px;
		list-style: none;
		visibility: hidden;
		position: absolute;
		padding-bottom: 5px;
		border-radius: 0 0 5px 5px;
		transition: all 0.4s ease 0s;
		background-color: $light;

		li {
			text-align: center;
		}
	}
}

/**
 * Texts
 */
.text-banner {
	font-size: 80px;
	line-height: 90%;
	font-weight: 900;
	letter-spacing: -0.03em;
}

.text-titulo {
	font-weight: 900;
	font-size: 52px;
	line-height: 100%;
	letter-spacing: -0.02em;
}

.text-sub-titulo {
	font-weight: bold;
	font-size: 26px;
	line-height: 110%;
	text-align: right;
}

.text-texto {
	font-size: 18px;
	line-height: 28px;
}

.text-scroll {
	font-size: 13px;
	line-height: 290%;
	letter-spacing: 0.3em;
	font-weight: bold;
	text-transform: uppercase;
}

.text-cta {
	color: $white;
	font-size: 14px;
	font-weight: 700;
	line-height: 100%;
	display: inline-flex;
	border-radius: 100px;
	align-items: center;
	text-transform: uppercase;
	padding: 10px 36px 10px 10px;
	@include transition($btn-transition);

	&:hover {
		color: $white;
	}

	[class*="icon"] {
		width: 42px;
		height: 42px;
	}
}

.text-silhueta {
	left: -100px;
	font-weight: 900;
	font-size: 260px;
	line-height: 90%;
	position: absolute;
	letter-spacing: -0.05em;
	mix-blend-mode: multiply;
}

.text-gradient {
	background: linear-gradient(90deg, #ff7a00 -1.68%, #ec008c 49.69%, #4e51b9 100%),
		#fff;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.wrapper-text {
	z-index: 1;
}

.circle {
	min-width: 130px;
	height: 130px;
	background-color: $white;
	box-shadow: 0px 74px 64px rgba(0, 0, 0, 0.15),
		0px 1px 2px rgba(0, 0, 0, 0.12);
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 30px 32px;

	&:before {
		content: "";
		width: 190px;
		height: 190px;
		position: absolute;
		background: url('../img/circle.svg') no-repeat center center / 100%;
	}

	&.-min {
		top: -100px;
		z-index: 1;
		left: -39px;
		transform: scale(0.6);
		box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.15);

		&:before {
			width: 240px;
			height: 240px;
		}

		[class*="icon"] {
			width: 40px;
			height: 36px;
			background-size: 100%;
		}
	}
}

/**
 * Scrollspy
 */
#content-nav {
	left: 20px;
	z-index: 2;
	top: calc(50% - 78px);

	.list-group-item {
		width: 8px;
		height: 8px;
		display: block;
		background: #C4C4C4;
		margin-bottom: 20px;
		border-radius: 50px;
		border: 2px solid #C4C4C4;

		&.active {
			border: 2px solid #EC008C;
		}
	}
}

/**
 * TOPO
 */
.content-topo {
	z-index: 1;
	position: relative;

	.banner {
		position: relative;
		max-height: 690px;

		// pontilhados
		&:before {
			content: "";
			top: -100px;
			left: calc(100% + 20px);
			width: 118px;
			height: 146px;
			display: block;
			position: absolute;
			background: url('../img/pontilhados.svg') no-repeat scroll 0% 0%;
		}

		a.btn {
			margin-top: 40px;
			border-radius: 50px;
			padding-top: 9px;
			font-size: 14px;
			min-width: 208px;
			padding-bottom: 9px;
		}

		p {
			font-size: 16px;
			font-weight: 600;
			line-height: 24px;
			letter-spacing: -0.01em;
		}

		img {
			left: -250px;
			max-width: none;
			position: relative;
		}
	}

	.desconto {
		.text-silhueta {
			top: 170px;
		}
	}
}

.checklist {
	list-style: none;

	li {
		display: flex;
		margin-bottom: 17px;

		&:before {
			top: 4px;
			content: "";
			position: relative;
			display: inline-table;
			@extend .icon-check;
			margin-right: 20px;
		}
	}
}

/**
 * PRODUTOS
 */
.produtos {
	position: relative;
	padding-bottom: 300px;
	background: linear-gradient(327.12deg, #000000 8.82%, #434343 93.13%);

	.bg {
		top: 0;
		right: 0;
		width: 80%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		object-position: top;
	}

	.shape {
		top: -2px;
		width: 100%;
		height: 140px;
		background: $white;
		position: relative;
		clip-path: polygon(0 0, 100% 0%, 31% 100%, 0% 79%);
	}

	.text-silhueta {
		opacity: 0.4;
		top: calc(100% - 120px);
	}
}

/**
 * COMPRE ONLINE
 */
.compre-online {
	.row>[class*='col'] {
		z-index: 1;
		padding-top: 100px;
	}

	img.phone {
		z-index: 1;
		width: 960px;
		max-width: none;
		left: -230px;
		top: 60px;
	}

	.box {
		left: 70px;
	}

	ul {
		width: 490px;
		height: 490px;
		list-style: none;

		li {
			width: 70%;
			display: flex;
			align-items: center;
			margin-bottom: 41px;
			position: relative;

			&:after {
				content: "";
				width: 145px;
				height: 4px;
				background: url('../img/dots.png');
				position: absolute;
				bottom: -25px;
				transform: translateX(50%);
			}

			&:last-child {
				margin-bottom: 0;

				&:after {
					display: none;
				}
			}

			img {
				margin-left: 20px;
			}
		}
	}
}

/**
 * INFORMAÇÕES
 */
.infos {
	padding-top: 150px;

	img {
		top: -110px;
		right: 14em;
	}
}

/**
 * QUALIDADES
 */
.quality {
	padding: 160px 0 180px;
	margin-top: 150px;
	position: relative;

	&:before {
		content: "";
		top: -100px;
		right: 15px;
		width: 118px;
		height: 146px;
		display: block;
		position: absolute;
		background: url('../img/pontilhados.svg') no-repeat scroll 0 0;
	}

	.bg {
		top: 0;
		right: 0;
		max-width: 50%;
		position: absolute;
	}

	.grid {
		display: grid;
		grid-gap: 30px;
		margin-top: 30px;
		list-style: none;
		grid-template-columns: repeat(2, 1fr);

		img {
			width: 24px;
		}
	}
}

/**
 * CERTIFICADOS
 */
.certificados {
	padding-top: 100px;
	padding-bottom: 130px;

	.swiper-certificados {
		height: 445px;
		display: flex;
		padding: 0 60px;
		background: url('../img/large-circle.svg') no-repeat center center/100%;

		.swiper-button-prev,
		.swiper-button-next {
			width: 74px;
			height: 74px;
			border-radius: 50px;
			box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.15);
			background: $white url('../img/arrow.svg') no-repeat center center;

			&:after {
				display: none;
			}
		}

		.swiper-button-prev {
			left: -20px;
			transform: rotateZ(180deg);
		}

		.swiper-button-next {
			right: -20px;
		}
	}
}

/**
 * CONTATO
 */
.contato {
	padding-top: 100px;

	.bg {
		float: right;
		left: 185px;
		max-width: 60vw;
		position: relative;
	}

	.circle {
		top: -12em;
	}

	.wpcf7-form {
		p {
			margin: 0;
		}
	}

	.wpcf7-submit {
		height: 50px;
		font-size: 18px;
		font-weight: bold;
		line-height: 23px;
	}

	.wpcf7-response-output {
		margin: 0;
	}
}

/**
 * FOOTER
 */
#footer {
	padding-top: 60px;
	background: linear-gradient(327.12deg, #000000 8.82%, #434343 93.13%);

	.spacer {
		width: 100%;
		height: 1px;
		opacity: 0.2;
		margin-top: 16px;
		background: $white;
	}

	a {
		display: flex;
		align-items: center;
		height: 100%;
		max-width: 140px;
		font-size: 12px;
		line-height: 18px;
		color: $white;
	}

	p {
		b {
			font-size: 15px;
		}

		color: #E2E2E2;
		opacity: 0.9;
		font-size: 12px;
		line-height: 20px;
		text-align: center;
		margin: 20px 0 40px;
	}

	.logo-footer {
		top: 0;
		left: 50%;
		position: absolute;
		transform: translate(-50%, -50%);
	}
}
